.navigation-dropdown-wrapper {
  position: absolute;
  width: 100vw;
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 2;
  border-top: 0.5px solid #D6D6D6;
  
  a {
    color: #000;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }

  .jewellery-links {
    display: flex;
    justify-content: space-between;
    width: 100% !important;

    .catergory-section {
      .jewellwery-type {
        font: normal normal 900 13px/16px Lato;
        letter-spacing: 1.95px;
        color: #333333;
        text-transform: uppercase;
      }

      .jewelleries {
        display: grid;
        grid-column-gap: 1.2rem;
        grid-row-gap: 0.5rem;
        grid-template-columns: auto auto;
        font-family: Lato;
        font-size: 13px;
        letter-spacing: 1.3px;
        color: #333333;

        .jewellery-link:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .bestsellers-section {
    max-height: 302px;
    .overlay-text {
      position: relative;
      transform: translate(0, -100%);
      color: #fff;
    }
  }
}

@media screen and (min-width: 1440px) {
  .jewellery-links {
    justify-content: flex-start;
  }
}
