.slider-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  margin-bottom: 50px;
}

.service-slider {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.carouselPaper {
  position: relative;

  .carousel-img {
    min-width: 100%;
    height: 100%;
  }
}

.service-slide {
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0px;
  box-sizing: border-box;
  font-size: 36px;
  font-weight: bold;
  color: #fff;
}

.service-slide.active {
  display: block;
  color: #fff;
}

.service-slide-text-wrapper {
  width: 100%;
  position: absolute;
  bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .service-slide-text,
  .service-slide-description {
    width: 40%;
    margin: 0;
    padding: 0;
    padding-right: 1em;
  }

  .service-slide-text {
    font: normal normal 600 32px/48px Playfair Display;
    letter-spacing: 0.54px;
    color: #ffffff;
    text-align: left;
  }

  .service-slide-description {
    font: normal normal normal 32px/48px Playfair Display;
    letter-spacing: 0.54px;
    color: #ffffff;
  }

  .see-more-button {
    transform: translateX(-50%);
    background-color: #53bd8d;
    color: #0e0b0b;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
  }
}

.logo-slider {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  margin: 20px 0;
  flex-direction: row;
}

.logo-slide {
  width: 150px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 20px;
  animation: slide 7s linear infinite;
}

.carousel-explore-now-btn {
  background: #ffffff 0% 0% no-repeat padding-box;
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

@media (max-width: 768px) {
  .service-slide-text-wrapper {
    width: 100%;
    bottom: 50px;

    .service-slide-text,
    .service-slide-description {
      width: 100%;
    }
  
    .service-slide-text {
      text-align: left;
    }
  
    .service-slide-description {
      font: normal normal normal 32px/48px Playfair Display;
      letter-spacing: 0.54px;
      color: #ffffff;
    }
  
    .see-more-button {
      transform: translateX(-50%);
      background-color: #53bd8d;
      color: #0e0b0b;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 16px;
    }
  }
}

 @media (max-width: 767px) {
  .slider-container {
    flex-direction: column;
  }

  .service-slider {
    width: 100%;
  }
  .see-more-button {
    bottom: 200px;
  }

  .logo-slider {
    width: 100%;
    height: 20%;
  }

  .logo-slide {
    width: 100px;
    height: 35px;
  }
  .slider-container {
    padding-bottom: 0;
  }
  .service-slide-text-wrapper {
    padding-left: 20px;
    justify-content: center;
    bottom: 50px !important;

    .service-slide-text,
    .service-slide-description {
      width: 100%;
    }

    .service-slide-text {
      text-align: left;
      font: normal normal 600 25px/35px Playfair Display;
      letter-spacing: 0.39px;
      color: #ffffff;
      margin: 0;
    }

    .service-slide-description {
      text-align: left;
      font: normal normal normal 22px/35px Playfair Display;
      letter-spacing: 0.39px;
      color: #ffffff;
    }
  }
}
.slick-dots {
  bottom: 20px !important;


  li button:before {
    font-size: 12px !important;
    color: #fcf7f7 !important;
  }
  li button:hover {
    background-color: transparent !important;
    border: none !important;
  }
  li button {
    color: rgb(255, 255, 255) !important;
    opacity: 1;
  }
  
}
