.image-slider-card-text {
    z-index: 1;
    position: relative;
    height: 17px;
    text-align: left;
    font: normal normal bold 14px/17px Lato;
    letter-spacing: 2.1px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    border-top-style: outset;
}

.image-slide-card-container:hover {
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

.image-slide-card-container {
    max-width: 295px;
    max-height: 355px;
    min-width: 295px;
    min-height: 355px;
    display: flex;
    flex-direction: column-reverse;
    padding-left: 25px;
    padding-right: 25px;
}

.image-slider-component {
    padding: 0;
    margin-bottom: 0;
}

.no-border {
    border: none;
    align-self: center;
}

@media (max-width: 768px) {
    .image-slide-card-container {
        min-width: 150px !important;
        min-height: 192px !important;
    }

    .image-slider-card-text {
        text-align: left;
        font: normal normal bold 10px/12px Lato;
        letter-spacing: 1.5px;
        color: #FFFFFF;
        text-transform: uppercase;
        opacity: 1;
    }
    .Offers-item-section {
        min-width: 80% !important;
        margin-right: 20px !important;
    }
    .Discover-item-section{
        min-width: 65% !important;
    }
}