.product-list-page-product-title{

}
.product-page-product-card-action-area{
    height: 340px !important;
}
.product-page-product-card-action-area:hover{
    background-color: transparent !important;
    color: inherit !important;
}
.product-page-product-card-container{
    // margin: 10px !important;
    // width: 25% !important;
}
.product-list-page-heart-icon-container{
    position: absolute;
    bottom: 20%;
    background: #fff;
    right: 0;
}
.product-list-page-heart-icon-button:hover{
    border: none !important;
}