.css-1elwnq4-MuiPaper-root-MuiAccordion-root.Mui-expanded {
    margin: 0 !important;
}
.MuiPaper-elevation1 {
    border-bottom: 0.2px solid #CCCCCC;
    border-top: 0.2px solid #CCCCCC;
    box-shadow: none !important;
}
.faqs-container:nth-child(1){
    border-top: 0.2px solid #CCCCCC !important;
}
.faqs-container:nth-child(n){
    border-bottom: 0.2px solid #CCCCCC !important;
}