.about-us{
    background: #FFFFFF 0% 0% no-repeat padding-box;
}
.contact-us-center {
    text-align: -webkit-center;
}

.image-slider-header img {
    padding-right: 10px;
}

.contact-us-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact-us-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.form-control-Contact-us {
    display: block;
}

.text-field {
    margin: 10px !important;
}

.text-field-name-contact-us {
    width: 44%;
}

.text-field-email-contact-us {
    width: 93% !important;

}

.contact-us-one-line-form-field {
    width: 100%;
}

.term-and-condition-section {
    display: flex;
    justify-content: left;
    flex-wrap: nowrap;
    align-items: center;
    padding-left: 7px;
    padding-right: 14px;
}
.checkbox-contact-us-page-text{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.contact-us-one-line-form-field button {
    width: 93%;
    background: #000000 0% 0% no-repeat padding-box;
    border: 1px solid #000000;
    opacity: 1;
    font: normal normal medium 12px/15px Lato;
    letter-spacing: 1.8px;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    margin-top: 15px;
}

.decoration-contact-us-underline {
    text-align: left;
    text-decoration: underline;
    font: normal normal medium 12px/15px Lato;
    letter-spacing: 0.9px;
    color: #916F25;
}

@media (max-width: 767px) {
    .contact-us-description {
        text-align: center;
        font: normal normal normal 14px/22px Lato;
        letter-spacing: 0px;
        color: #666666;
    }

    .decoration-contact-us-underline {
        text-align: center;
        text-decoration: underline;
        font: normal normal bold 14px/22px Lato;
        letter-spacing: 0px;
        color: #916F25;
    }
    .text-field-email-contact-us{
        width: 90% !important;
    }
}