.image-slider-header {
    top: 900px;
    left: 120px;
    width: 325px;
    height: 48px;
    text-align: left;
    font: normal normal 600 36px/48px Playfair Display;
    letter-spacing: 0.54px;
    color: #672A2F;
    opacity: 1;
    display: table-footer-group;
}

.image-slider-description {
    top: 964px;
    left: 120px;
    width: 1046px;
    height: 19px;
    text-align: left;
    font: normal normal normal 16px/22px Lato;
    letter-spacing: 0px;
    color: #666666;
    opacity: 1;
}
.big-image-slider-description {
    width: auto !important;
    padding-top: 16px;
}

.large-image-slider-container{
    padding-top: 100px;
}
.large-image-slider-test-area{
    align-self: center;
    // padding-left: 0 !important;
}
.text-only-grid{
    text-align-last: center;
    width: 431px;
    text-align: -webkit-center;
    margin-left: 10%;
    min-height: 80px;
    padding-top: 10px;
}
.text-only-grid-header img{
    margin-right: 9px;
}