
.order-layout {
    border: 1px solid red;
    height: 100vh;
    .form-section {
        background-color: #fff;

        .checkout-header {
            img {
                width: 103px;
                height: 60px;
            }
        }

        .order-layout-breadcrumb {
            
        }
        
    }
}