.bg-black:hover, .bg-black:active {
    color: #fff;
}

.personal-details-container {
    .personal-details-form {
        background: #fff;
    }
}

@media only screen and (min-width: 768px) {
    .personal-details-form {
        width: 35vw;
    }
  }