.image-container-product-details {
    width: 95%;
    overflow-y: scroll;
    height: 800px;
    overflow-x: hidden;
    float: right;
}

.details-page-container-product-details-text {
    width: 95%;
}

.image-container-product-details::-webkit-scrollbar {
    display: none;
}

.desktop-product-details-image {
    width: 100%;
    padding-bottom: 5px;
    height: 80%;
}

.product-details-header {
    text-align: left;
    font: normal normal 600 32px/43px Playfair Display;
    letter-spacing: 0.48px;
    color: #333333;
    opacity: 1;
}

.product-details-text-header {
    display: flex;
    align-items: center;
    padding-right: 30px;
}

.product-details-header {
    .product-list-page-heart-icon-button {
        margin: 0;
        min-width: 40px;
    }
}

.product-description-details-rating {
    .MuiRating-label {
        color: #000000;
    }
}

.divider-product-details-reviews {
    padding-bottom: 10px;
    padding-top: 10px;
    width: auto !important;
    border-color: black !important;
    // border-left: 1px solid !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.product-details-write-review-button {
    text-align: left;
    text-decoration: underline !important;
    font: normal normal bold 10px/12px Lato;
    letter-spacing: 1.5px;
    color: #916F25 !important;
    text-transform: uppercase;
    opacity: 1;
}

.product-details-write-review-button:hover {
    border: none !important;
    background: transparent !important;
}

.product-details-product-quality-details {
    padding-top: 20px !important;
}

.product-details-price {
    text-align: left;
    font: normal normal 900 26px/32px Lato;
    letter-spacing: 0px;
    color: #333333;
    text-transform: uppercase;
    opacity: 1;
}

.divider-product-details-description {
    margin: 0;
    border: 1px solid #D6D6D6;
    opacity: 1;
    padding-top: 25px;
}

.product-details-check-availability-title {
    text-align: left;
    font: normal normal 600 14px/17px Lato;
    letter-spacing: 0px;
    color: #333333;
    opacity: 1;
    padding-bottom: 10px;
}

.product-details-pincode-text-field {
    border-radius: 0 !important;

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }

    div {
        border-radius: 0 !important;

    }
}

.product-details-check-princode-button {
    text-align: left;
    font: normal normal medium 12px/15px Lato !important;
    letter-spacing: 1.8px;
    color: #000000 !important;
    text-transform: uppercase !important;
    opacity: 1;
    border: 1px solid #916F25 !important;
    height: 57px;
    border-radius: 0 !important;
    padding: 20px !important;
}

.product-details-page-quantity-quantity {
    padding-left: 10px;
}

.product-details-page-quantity-check-availability {
    padding-right: 10px;
}

.product-details-page-add-to-cart-button {
    border: 1px solid #000000 !important;
    text-align: left;
    font: normal normal medium 12px/15px Lato;
    letter-spacing: 1.8px;
    color: #000000 !important;
    text-transform: uppercase !important;
    opacity: 1 !important;
    margin-right: 10px !important;
    width: 174px !important;

    img {
        padding-left: 5px;
    }
}

.product-details-page-buy-now-button {
    background: #000000 0% 0% no-repeat padding-box !important;
    opacity: 1 !important;
    text-align: left;
    font: normal normal medium 12px/15px Lato;
    letter-spacing: 1.8px;
    color: #FFFFFF !important;
    text-transform: uppercase !important;
    margin-left: 10px !important;
    width: 146px !important;

    img {
        padding-left: 5px;
    }
}

@media (min-width: 769px) {
    .breadcrumb-container-product-details {
        .breadcrumb-element {
            color: #666666 !important;
        }

        .MuiBreadcrumbs-separator {
            color: #666666 !important;
        }
    }
}

.product-details-text-description {
    text-align: left;
    font: normal normal normal 16px/22px Lato;
    letter-spacing: 0px;
    color: #666666;
    opacity: 1;
}

.product-details-reviews {
    // padding-left: 10% !important;
}

.product-details-reviews-container {
    // width: 80%;
}

.css-dqr9h-MuiRating-label {
    color: #000000 !important;
}

.customer-reviews-title {
    text-align: left;
    font: normal normal 600 32px/43px Playfair Display;
    letter-spacing: 0.48px;
    color: #672A2F;
    opacity: 1;
}

.rating-values-customer-review {
    display: flex;
    text-align: left;
    font: normal normal 900 30px/36px Lato;
    letter-spacing: 0px;
    color: #333333;
    text-transform: uppercase;
    opacity: 1;
    align-items: center;

    .css-iljtu2-MuiRating-root {
        font-size: 1.9rem !important;
    }
}

.product-details-reviews {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.based-on-count-review {
    text-align: left;
    font: normal normal normal 12px/30px Lato;
    letter-spacing: 0px;
    color: #666666;
    opacity: 1;
}

.customer-review-write-review-button {
    border: 1px solid #000000;
    opacity: 1;
}

.product-details-reviews {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

@media (max-width: 768px) {
    .product-grid-container {
        padding: 0 !important;
    }

    .product-details-header {
        text-align: left;
        font: normal normal 600 24px/32px Playfair Display;
        letter-spacing: 0.36px;
        color: #333333;
        opacity: 1;
    }

    .product-details-text-container {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .product-details-text-header-title {
        justify-content: space-between;
        padding-right: 0;
    }

    .product-details-text-header {
        padding-right: 0;
    }

    .product-details-page-breadcrumb {
        position: absolute;
        z-index: 10 !important;
        padding-left: 0 !important;
    }

    .product-details-check-availability-container {
        flex-direction: column;
        float: left;
        width: 100%;
        align-items: flex-start;
    }

    .product-details-mobile-view-container-for-buttons {
        display: flex;
        flex-direction: column;
    }

    .product-details-page-quantity-quantity {
        padding-left: 0;
    }

    .breadcrumb-container-product-details {
        padding-top: 15px;

        nav {
            li {
                text-align: left;
                font: normal normal normal 8px/10px Lato;
                letter-spacing: 1.2px;
                color: #FFFFFF !important;
                text-transform: uppercase;
                opacity: 1;

                a {
                    text-align: left;
                    font: normal normal normal 8px/10px Lato;
                    letter-spacing: 1.2px;
                    color: #FFFFFF !important;
                    text-transform: uppercase;
                    opacity: 1;
                }
            }

        }
    }
}