button {
    background: transparent;
    border: 1px solid #000000;
    padding: 0 17px;
    height: 45px;
    opacity: 1;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    color: #000000;
    font-size: 12px;
}

button:hover {
    background-color: #916F25;
    color: #FFFFFF;
    border: 1px solid #916F25;
}

input {
    background: transparent;
    height: 45px;
    border: 1px solid #000000;
    opacity: 0.34;
    letter-spacing: 0px;
    padding-inline: 12px;
}

input::placeholder {
    color: #B7B7B7;
}

hr {
    width: 100%;
    border: 0.5px solid #D6D6D6;
}

.arrow-icon-generic {
    background: none;
    border: none;
    padding: 0
}

.image-slider-navigation-icon {
    position: relative;
    width: 100%;
    text-align: right;
    padding-right: 39px;
}

.image-slider-navigation-icon button:hover {
    background: transparent;
    border: none;
}

.carousel-locate-store-btn {
    top: 3307px;
    left: 620px;
    width: 200px;
    height: 45px;
    opacity: 1;
    background-color: #FFFFFF;
}
.main-body-container{
    margin-top: 120px;
}
@media (max-width: 767px) {
    .main-body-container{
        margin-top: 60px;
    }
}








// blog and news
.column-news {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  .row-news::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .image-container-news {
    position: relative;
  }
  
  .gallery-image-news {
    width: 100%;
  }
  
  .image-text-news {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
  }




  .container-blog {
    display: flex;
    align-items: center;
  }
  
  .image-container-blog {
    flex: 1;
  }
  
  .gallery-image-blog {
    width: 100%;
    height: auto;
  }
  
  .text-container-blog {
    flex: 1;
    padding: 10px;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .container-blog {
      flex-direction: column;
      align-items: stretch;
    }
  
    .image-container-blog,
    .text-container-blog {
      width: 100%;
    }
  }
  

  .icon-space
  {
    margin-left: 1em;
  }