footer {
    position: relative;
    height: 508px;
    color: #333333;
    font-family: Lato;
    background: #F8F6F0 0% 0% no-repeat padding-box;

    .footer-container {
        padding: 48px 120px 0 120px;

        .logo {
            img {
                width: 98px;
                height: 55px;
            }
        }

        .footer-containt {
            padding-top: 40px;
            letter-spacing: 0px;

            span {
                font-weight: bold;
            }
        }

        .btn.btn-link {
            display: block;
            margin-bottom: 3px;
            padding: 0;
            text-align: left;
            text-decoration: none;
            color: #333333;
        }

        .footer-heading {
            font-weight: bold;
            font-size: 26px;
        }

        .footer-text {
            color: #666666;
        }

        .sbscribe-wrapper {
            position: relative;

            .subscribe-btn {
                position: absolute;
                right: 0;

                img {
                    width: 16px;
                    height: 10px;
                    opacity: 1;
                }
            }

            .subscribe-input {
                padding-inline-end: 145px;
            }
        }

        .social-media-wrapper {
            margin-top: 40px;
            display: flex;
            justify-content: space-between;
            width: 180px;

            h6 {
                font-size: 16px;
                color: #333333;
            }

            .social-media-icon {
                width: 19px;
                height: 19px;
                opacity: 1;
            }
        }

        .copyright {
            letter-spacing: 0px;
            color: #969696;
            opacity: 1;
            font-size: 12px;
            position: absolute;
            bottom: 18px;

            p {
                margin: 0;
            }
        }

        .address {
            width: 60%;
        }
    }

    @media (max-width: 1240px) {
        .footer-container {
            .address {
                width: 90%;
            }
        }
    }

    .footer-hr {
        position: absolute;
        bottom: 52px;
        margin: 0;
    }
}

@media (max-width: 820px) {
    footer {
        height: 665px;

        .footer-container {
            padding: 46.18px 20px 0 20px;

            .logo {
                img {
                    width: 73px;
                    height: 41px;
                }
            }

            p {
                font-size: 12px;
            }

            a {
                font-size: 14px;
            }

            .footer-heading {
                font-size: 21px;
                margin-top: 50px;
                margin-bottom: 10px !important;
            }

            .social-media-wrapper {
                margin-top: 15px;
            }
        }

        .copyright {
            p {
                font-size: 10px;
            }
        }
    }
}